/* Reset default margin and padding for a clean slate */
body {
  background-color: rgb(103, 202, 169);
  margin: 0;
  padding: 0;
}

header, main, aside, footer {
  background-color: rgb(255, 255, 255);
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: grid;
  grid-template-columns: 1fr 4fr; /* Define two columns, with the sidebar taking up 1/4 of the width */
  grid-template-rows: auto 1fr auto; /* Define rows with automatic height for header and footer, and the remaining space for main content */
  grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
}

header {
  grid-area: header; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  grid-area: main; /* Assign the main content to the "main" grid area */
}

aside {
  grid-area: aside; /* Assign the aside sidebar to the "aside" grid area */
  font-style: italic;
}

footer {
  grid-area: footer; /* Assign the footer to the "footer" grid area */
  text-align: center; /* Center the content in the footer */
  height: 50px;
  background-color: #ffffff; /* Lighten the background for distinction */
}

aside img {
  max-width: 100%; /* Set the maximum width of the image to 100% of its container's width */
  height: auto; /* Allow the height to adjust proportionally based on the width */
}


/* Removing bullet point from nav */
header ul, nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

header ul li, nav ul li {
  padding: 10px;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

.nav-links {
  display: flex; /* Apply flex display only to elements with the 'nav-links' class */
  flex-direction:column;
}

.nav-links li {
  padding: 10px; /* Add padding of 10px */
  margin: 10px; /* Add margin of 10px */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form li {
  display: flex;
  align-items: center;
  margin:10px;
  gap: 5px;
}

#results {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin-left: 5px;
  border: 1px solid #302929;
}

form button {
  font-size: 0.8em;
  padding: 5px 10px;
  max-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

/* Media query for screens less than 500px */
@media (max-width: 500px) {
  #container {
    display: grid;
    grid-template-columns: 1fr 4fr; /* Define two columns, with the sidebar taking up 1/4 of the width */
    grid-template-rows: auto 1fr auto; /* Define rows with automatic height for header and footer, and the remaining space for main content */
    grid-template-areas:
        "header header"
        "main main"
        "aside footer";
  }
  
  /* Resetting default list styles for navigation links */
  header ul, nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex; /* Make the list display items vertically */
    flex-direction: column; /* Stack items below each other */
   
  }

  /* Target the navigation list for vertical display */
  header ul, nav ul {
    display: flex;
    flex-direction: column;
}

/* Styling for nav links */
header .nav-links li,
nav .nav-links li {
    padding: 10px;
    margin: 0px;
}

/* Removing margin from the last nav link */
nav ul li:last-child {
    margin-right: 0;
}
}




/*COLOUR*/

header{
  background-color: #ffffff;
  border: 1px solid #000;
}

footer {
  background-color: #ffffff;
  border: 1px solid #000;

}

aside {
  background-color: #ffffff;
  border: 1px solid #000;

}

main {
  background-color: #ffffff;
  border: 1px solid #000;
}

body {
  background-color: #f4dfdc;
}



/*FUNCTIONALITY FOR DARK MODE STARTS HERE*/
/*adding functionality for dark-light mode*/
/* Add styles for the theme toggle button */
.theme-toggle {
  margin-left: auto; /* Align the button to the right */
}

.theme-toggle button {
  padding: 5px 10px;
  background-color: #ccc; /* Default background color */
  border: none;
  cursor: pointer;
}

/* CSS for link colors */
.nav-links li a {
  color: #000; /* Change the color of the links */
  text-decoration: none;
}

/* Hover effect for links */
.nav-links li a:hover {
  color: #0fa4af; /* Change the color of the links on hover */
}

/* Light Mode */
.light-mode {
  background-color: #bd9292;
  color: #fff;
}

/* Styles for header in light mode */
.light-mode header, .light-mode main, .light-mode aside, .light-mode footer, .light-mode nav, .light-mode form, .light-mode nav ul {
  background-color: #749886; /* Change background color of header */
  color: #fff; /* Change text color of header */
}

/* Dark mode */
.dark-mode {
  background-color: #000000;
  color: #fff;
}

.dark-mode body {
  background-color: black; /* Change the background color of the body */
  color: #fff; /* Change the text color of the body */

}

/* Styles for header in dark mode */
.dark-mode header,.dark-mode header nav, .dark-mode main, .dark-mode aside, .dark-mode footer, .dark-mode nav, .dark-mode form, .dark-mode nav ul {
  background-color: #29292bb0; /* Change background color of header */
  color: #fff; /* Change text color of header */
}

.dark-mode input{
  background-color: #353435;
  color: #fff;

}

/* CSS for button color in dark mode */
.dark-mode #submit-button {
  color: #fff; /* Change the text color of the button */
  background-color: #333; /* Change the background color of the button */
  border-color: #333; /* Change the border color of the button */
}
/* CSS for button color in dark mode */
.dark-mode #vehicle-search-btn {
  color: #fff; /* Change the text color of the button */
  background-color: #333; /* Change the background color of the button */
  border-color: #333; /* Change the border color of the button */
}
/* CSS for button color in dark mode */
.dark-mode #addOwnerButton {
  color: #fff; /* Change the text color of the button */
  background-color: #333; /* Change the background color of the button */
  border-color: #333; /* Change the border color of the button */
}
/* CSS for button color in dark mode */
.dark-mode #addVehicleButton {
  color: #fff; /* Change the text color of the button */
  background-color: #333; /* Change the background color of the button */
  border-color: #333; /* Change the border color of the button */
}

/* CSS for button color in light mode */
.light-mode #submit-button {
  color: #000; /* Change the text color of the button */
  background-color: #ccc; /* Change the background color of the button */
  border-color: #ccc; /* Change the border color of the button */
}

/* CSS for button color in dark mode */
.dark-mode #theme-toggle-btn {
  color: #fff; /* Change the text color of the button */
  background-color: #333; /* Change the background color of the button */
  border-color: #333; /* Change the border color of the button */
}

/* CSS for button color in light mode */
.light-mode #theme-toggle-btn {
  color: #000; /* Change the text color of the button */
  background-color: #ccc; /* Change the background color of the button */
  border-color: #ccc; /* Change the border color of the button */
}

/* CSS for link colors */
.dark-mode header ul li a {
  color: #ffffffaa; /* Change the color of the links */
  text-decoration: none;
}

/* Hover effect for links */
.dark-mode nav-links li a:hover {
  color: #0fa4af; /* Change the color of the links on hover */
}
