body {
  background-color: rgb(103, 202, 169);
  margin: 0;
  padding: 0;
}

header, main, aside, footer {
  background-color: rgb(255, 255, 255);
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: grid;
  grid-template-columns: 1fr 4fr; 
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
}

header {
  grid-area: header; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  grid-area: main; 
}

aside {
  grid-area: aside; 
  font-style: italic;
}

footer {
  grid-area: footer;
  text-align: center; 
  height: 50px;
  background-color: #ffffff; 
}

aside img {
  max-width: 100%; 
  height: auto; 
}



header ul, nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

header ul li, nav ul li {
  padding: 10px;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

.nav-links {
  display: flex;
  flex-direction:column;
}

.nav-links li {
  padding: 10px;
  margin: 10px; 
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form li {
  display: flex;
  align-items: center;
  margin:10px;
  gap: 5px;
}

#results {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin-left: 5px;
  border: 1px solid #302929;
}

form button {
  font-size: 0.8em;
  padding: 5px 10px;
  max-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

/*media query for changing layout under 500px*/
@media (max-width: 500px) {
  #container {
    display: grid;
    grid-template-columns: 1fr 4fr; 
    grid-template-rows: auto 1fr auto; 
    grid-template-areas:
        "header header"
        "main main"
        "aside footer";
  }
  
  header ul, nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex; 
    flex-direction: column; 
   
  }

  header ul, nav ul {
    display: flex;
    flex-direction: column;
}


header .nav-links li,
nav .nav-links li {
    padding: 10px;
    margin: 0px;
}


nav ul li:last-child {
    margin-right: 0;
}
}




/*COLOUR*/

header{
  background-color: #ffffff;
  border: 1px solid #000;
}

footer {
  background-color: #ffffff;
  border: 1px solid #000;

}

aside {
  background-color: #ffffff;
  border: 1px solid #000;

}

main {
  background-color: #ffffff;
  border: 1px solid #000;
}

body {
  background-color: #f4dfdc;
}



/*FUNCTIONALITY FOR DARK MODE STARTS HERE*/

.theme-toggle {
  margin-left: auto; 
}

.theme-toggle button {
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

/* CSS for link colors */
.nav-links li a {
  color: #000; 
  text-decoration: none;
}

/* Hover effect for links */
.nav-links li a:hover {
  color: #0fa4af; 
}

/* Light Mode */
.light-mode {
  background-color: #bd9292;
  color: #fff;
}

.light-mode header, .light-mode main, .light-mode aside, .light-mode footer, .light-mode nav, .light-mode form, .light-mode nav ul {
  background-color: #749886; 
  color: #fff;
}

/* Dark mode */
.dark-mode {
  background-color: #000000;
  color: #fff;
}

.dark-mode body {
  background-color: black;
  color: #fff; 

}

/* Styles for header in dark mode */
.dark-mode header,.dark-mode header nav, .dark-mode main, .dark-mode aside, .dark-mode footer, .dark-mode nav, .dark-mode form, .dark-mode nav ul {
  background-color: #29292bb0; 
  color: #fff; 
}

.dark-mode input{
  background-color: #353435;
  color: #fff;

}

/* CSS for button color in dark mode */
.dark-mode #submit-button {
  color: #fff; 
  background-color: #333; 
  border-color: #333; 
}
/* CSS for button color in dark mode */
.dark-mode #vehicle-search-btn {
  color: #fff; 
  background-color: #333; 
  border-color: #333; 
}
/* CSS for button color in dark mode */
.dark-mode #addOwnerButton {
  color: #fff; 
  background-color: #333; 
  border-color: #333;
}
/* CSS for button color in dark mode */
.dark-mode #addVehicleButton {
  color: #fff; 
  background-color: #333; 
  border-color: #333; 
}

/* CSS for button color in light mode */
.light-mode #submit-button {
  color: #000; 
  background-color: #ccc; 
  border-color: #ccc; 
}

/* CSS for button color in dark mode */
.dark-mode #theme-toggle-btn {
  color: #fff; 
  background-color: #333; 
  border-color: #333; 
}

/* CSS for button color in light mode */
.light-mode #theme-toggle-btn {
  color: #000; 
  background-color: #ccc; 
  border-color: #ccc; 
}

/* CSS for link colors */
.dark-mode header ul li a {
  color: #ffffffaa; 
  text-decoration: none;
}

/* Hover effect for links */
.dark-mode nav-links li a:hover {
  color: #0fa4af; 
}
